/*
 * Copyright (c) 2019 Roland Ma
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <st/f7/stm32f769Xi.dtsi>
#include <st/f7/stm32f769nihx-pinctrl.dtsi>

#include <freq.h>
#include <mem.h>

/ {
	model = "Kubot minisumo board";
	compatible = "kabot,stm32f765vi-kubot";

	chosen {
		// zephyr,console = &cdc_acm_uart0;
		zephyr,console = &usart3;
		zephyr,shell-uart = &cdc_acm_uart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		// zephyr,code-partition = &slot0_partition;
		zephyr,dtcm = &dtcm;
	};

	zephyr,user {
		io-channels = <&adc1 10>, <&adc1 11>, <&adc1 12>, <&adc1 13>;
	};

	aliases {
		led0 = &green_led;
		led1 = &blue_led;
		sw0 = &user_button;
		eeprom-0 = &eeprom0;
		pwm-red = &red_pwm_led;
		pwm-green = &green_pwm_led;
		pwm-blue = &blue_pwm_led;
		imu = &mpu9250;
		m1-d1 = &m1_d1;
		m1-d2 = &m1_d2;
		m2-d1 = &m2_d1;
		m2-d2 = &m2_d2;
		m1-in1 = &m1_in1;
		m1-in2 = &m1_in2;
		m2-in1 = &m2_in1;
		m2-in2 = &m2_in2;
	};

	leds {
		compatible = "gpio-leds";

		m1_in1: m1_in1 {
			gpios = <&gpioc 4 GPIO_ACTIVE_HIGH>;
		};
		m1_in2: m1_in2 {
			gpios = <&gpioc 5 GPIO_ACTIVE_HIGH>;
		};
		m2_in1: m2_in1 {
			gpios = <&gpiob 2 GPIO_ACTIVE_HIGH>;
		};
		m2_in2: m2_in2 {
			gpios = <&gpioe 7 GPIO_ACTIVE_HIGH>;
		};
		green_led: led_0 {
			gpios = <&gpiod 0 GPIO_ACTIVE_HIGH>;
			label = "User LD1";
		};
		blue_led: led_1 {
			gpios = <&gpiod 1 GPIO_ACTIVE_HIGH>;
			label = "User LD2";
		};

		ir_led: ir_led {
			gpios = <&gpioc 6 GPIO_ACTIVE_HIGH>;
			label = "IR led of KTIR sensors";
		};

		rgb_k_r: rgb_k_r {
			gpios = <&gpiob 14 GPIO_ACTIVE_HIGH>;
			label = "red cathode";
		};
		rgb_k_g: rgb_k_g {
			gpios = <&gpiob 15 GPIO_ACTIVE_HIGH>;
			label = "green cathode";
		};
		rgb_k_b: rgb_k_b {
			gpios = <&gpiob 9 GPIO_ACTIVE_HIGH>;
			label = "blue cathode";
		};

		rgb_en_0: rgb_en_0 {
			gpios = <&gpioa 15 GPIO_ACTIVE_HIGH>;
			label = "enable led DV0";
		};
		rgb_en_1: rgb_en_1 {
			gpios = <&gpiob 3 GPIO_ACTIVE_HIGH>;
			label = "enable led DV1";
		};
		rgb_en_2: rgb_en_2 {
			gpios = <&gpiob 4 GPIO_ACTIVE_HIGH>;
			label = "enable led DV2";
		};
		rgb_en_3: rgb_en_3 {
			gpios = <&gpiob 8 GPIO_ACTIVE_HIGH>;
			label = "enable led DV3";
		};
		rgb_en_4: rgb_en_4 {
			gpios = <&gpioc 7 GPIO_ACTIVE_HIGH>;
			label = "enable led DV4";
		};
		rgb_en_5: rgb_en_5 {
			gpios = <&gpioc 8 GPIO_ACTIVE_HIGH>;
			label = "enable led DV5";
		};
		rgb_en_6: rgb_en_6 {
			gpios = <&gpioc 12 GPIO_ACTIVE_HIGH>;
			label = "enable led DV6";
		};
		rgb_en_7: rgb_en_7 {
			gpios = <&gpiod 15 GPIO_ACTIVE_HIGH>;
			label = "enable led DV7";
		};
		rgb_en_8: rgb_en_8 {
			gpios = <&gpiod 14 GPIO_ACTIVE_HIGH>;
			label = "enable led DV8";
		};
		rgb_en_9: rgb_en_9 {
			gpios = <&gpiod 5 GPIO_ACTIVE_HIGH>;
			label = "enable led DV9";
		};

		rgb_en_l0: rgb_en_l0 {
			gpios = <&gpioe 15 GPIO_ACTIVE_HIGH>;
			label = "enable led L0";
		};

		rgb_en_l1: rgb_en_l1 {
			gpios = <&gpioe 12 GPIO_ACTIVE_HIGH>;
			label = "enable led L1";
		};

		rgb_en_l2: rgb_en_l2 {
			gpios = <&gpioe 10 GPIO_ACTIVE_HIGH>;
			label = "enable led L2";
		};

		rgb_en_l3: rgb_en_l3 {
			gpios = <&gpioe 8 GPIO_ACTIVE_HIGH>;
			label = "enable led L3";
		};
	};

	pwmleds {
		compatible = "pwm-leds";
		label = "rgb-common";
		red_pwm_led: red_pwm_led {
			pwms = <&pwm_red_green 1 10000 PWM_POLARITY_NORMAL>;
		};
		green_pwm_led: green_pwm_led {
			pwms = <&pwm_red_green 2 10000 PWM_POLARITY_NORMAL>;
		};
		blue_pwm_led: blue_pwm_led {
			pwms = <&pwm_blue 1 10000 PWM_POLARITY_NORMAL>;
		};
	};
	hbridge {
		compatible = "pwm-leds";
		label = "h-bridge-pwm";
		m2_d1: m2_d1 {
			pwms = <&pwm_motor 1 PWM_KHZ(8) PWM_POLARITY_INVERTED>;
		};
		m2_d2: m2_d2 {
			pwms = <&pwm_motor 2 PWM_KHZ(8) PWM_POLARITY_NORMAL>;
		};
		m1_d2: m1_d2{
			pwms = <&pwm_motor 3 PWM_KHZ(8) PWM_POLARITY_NORMAL>;
		};
		m1_d1: m1_d1{
			pwms = <&pwm_motor 4 PWM_KHZ(8) PWM_POLARITY_INVERTED>;
		};

	};

	vbatt {
		compatible = "voltage-divider";
		io-channels = <&adc1 8>;
		output-ohms = <10000>;
		full-ohms = <(910000 + 10000)>;
	};

	gpio_keys {
		compatible = "gpio-keys";
		user_button: button_0 {
			label = "User";
			gpios = <&gpiob 1 GPIO_ACTIVE_LOW>;
		};
	};
};

&adc1 {
	pinctrl-0 = <&adc1_in10_pc0 &adc1_in11_pc1 &adc1_in12_pc2 &adc1_in13_pc3 &adc1_in8_pb0>;
	pinctrl-names = "default";
	status = "okay";
};


&clk_hse {
	clock-frequency = <DT_FREQ_M(8)>; /* STLink 8MHz clock */
	status = "okay";
};



&pll {
	div-m = <4>;
	mul-n = <72>;
	div-p = <2>;
	div-q = <3>;
	clocks = <&clk_hse>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(72)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <2>;
	apb2-prescaler = <1>;
};

&usbotg_fs {
	pinctrl-0 = <&usb_otg_fs_dm_pa11 &usb_otg_fs_dp_pa12>;
	pinctrl-names = "default";
	status = "okay";
	

	// cdc_acm_uart0: cdc_acm_uart0 {
	// 	compatible = "zephyr,cdc-acm-uart";
	// 	label = "CDC_ACM_0";
	// };
	cdc_acm_uart1: cdc_acm_uart1 {
		compatible = "zephyr,cdc-acm-uart";
		label = "CDC_ACM_1";
	};
};

&timers1 {
	st,prescaler = <1>;
	status = "okay";

	pwm_motor: pwm {
		compatible = "st,stm32-pwm";
		status = "okay";
		pinctrl-0 = <&tim1_ch1_pe9 &tim1_ch2_pe11 &tim1_ch3_pe13 &tim1_ch4_pe14>;
		pinctrl-names = "default";
	};
};

&timers12 {
	st,prescaler = <100>;
	status = "okay";

	pwm_red_green: pwm {
		status = "okay";
		pinctrl-0 = <&tim12_ch1_pb14 &tim12_ch2_pb15>;
		pinctrl-names = "default";
	};
	// pwm_green: pwm {
	// 	status = "okay";
	// 	pinctrl-0 = <&tim5_ch2_pa1>;
	// 	pinctrl-names = "default";
	// };
};

&timers11 {
	st,prescaler = <10>;
	status = "okay";

	pwm_blue: pwm {
		compatible = "st,stm32-pwm";
		status = "okay";
		pinctrl-0 = <&tim11_ch1_pb9>;
		pinctrl-names = "default";
	};
};



&iwdg {
	status = "okay";
};

&rtc {
	status = "okay";
};

&rng {
	status = "okay";
};

&i2c1 {
	pinctrl-0 = <&i2c1_scl_pb6 &i2c1_sda_pb7>;
	pinctrl-names = "default";
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&i2c2 {
	pinctrl-0 = <&i2c2_scl_pb10 &i2c2_sda_pb11>;
	pinctrl-names = "default";
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;


	eeprom0: eeprom@50 {
		compatible = "atmel,at24";
		reg = <0x50>;
		status = "okay";
		label = "FM24CL16B";
		size = <2048>;
		pagesize = <8>;
		address-width = <8>;
		timeout = <0>;
	};

	mpu9250:mpu9250@68{
		label = "IMU";
		compatible = "invensense,mpu9250";
		reg = <0x68>;
		status = "okay";
		gyro-sr-div = <1>;
		gyro-dlpf = <3600>;
		gyro-fs = <2000>;
		accel-fs = <16>;
		accel-dlpf = "420";
		supply-gpios = <&gpiod 7 GPIO_ACTIVE_LOW>;
	};
};

&i2c3 {
	pinctrl-0 = <&i2c3_scl_pa8 &i2c3_sda_pc9>;
	pinctrl-names = "default";
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;

	vl53l0x@35 {
		compatible = "st,vl53l0x";
		reg = <0x35>;
		label = "V5";
		xshut-gpios = <&gpiod 3 GPIO_ACTIVE_HIGH>;
		gpio1-gpios = <&gpiod 4 GPIO_ACTIVE_LOW>;
	};
	vl53l0x@36 {
		compatible = "st,vl53l0x";
		reg = <0x36>;
		label = "V6";
		xshut-gpios = <&gpioa 10 GPIO_ACTIVE_HIGH>;
		gpio1-gpios = <&gpioa 9 GPIO_ACTIVE_LOW>;
	};
	vl53l0x@37 {
		compatible = "st,vl53l0x";
		reg = <0x37>;
		label = "V7";
		xshut-gpios = <&gpiod 10 GPIO_ACTIVE_HIGH>;
		gpio1-gpios = <&gpiod 11 GPIO_ACTIVE_LOW>;
	};
	vl53l0x@38 {
		compatible = "st,vl53l0x";
		reg = <0x38>;
		label = "V8";
		xshut-gpios = <&gpiod 8 GPIO_ACTIVE_HIGH>;
		gpio1-gpios = <&gpiod 9 GPIO_ACTIVE_LOW>;
	};
	vl53l0x@39 {
		compatible = "st,vl53l0x";
		reg = <0x39>;
		label = "V9";
		xshut-gpios = <&gpiob 13 GPIO_ACTIVE_HIGH>;
		gpio1-gpios = <&gpiob 12 GPIO_ACTIVE_LOW>;
	};
};

&i2c4 {
	pinctrl-0 = <&i2c4_scl_pd12 &i2c4_sda_pd13>;
	pinctrl-names = "default";
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;

	vl53l0x@30 {
		compatible = "st,vl53l0x";
		reg = <0x30>;
		label = "V0";
		xshut-gpios = <&gpioc 14 GPIO_ACTIVE_HIGH>;
		gpio1-gpios = <&gpioc 15 GPIO_ACTIVE_LOW>;
	};
	vl53l0x@31 {
		compatible = "st,vl53l0x";
		reg = <0x31>;
		label = "V1";
		xshut-gpios = <&gpioe 6 GPIO_ACTIVE_HIGH>;
		gpio1-gpios = <&gpioc 13 GPIO_ACTIVE_LOW>;
	};
	vl53l0x@32 {
		compatible = "st,vl53l0x";
		reg = <0x32>;
		label = "V2";
		xshut-gpios = <&gpioe 4 GPIO_ACTIVE_HIGH>;
		gpio1-gpios = <&gpioe 5 GPIO_ACTIVE_LOW>;
	};
	vl53l0x@33 {
		compatible = "st,vl53l0x";
		reg = <0x33>;
		label = "V3";
		xshut-gpios = <&gpioe 2 GPIO_ACTIVE_HIGH>;
		gpio1-gpios = <&gpioe 3 GPIO_ACTIVE_LOW>;
	};
	vl53l0x@34 {
		compatible = "st,vl53l0x";
		reg = <0x34>;
		label = "V4";
		xshut-gpios = <&gpioe 0 GPIO_ACTIVE_HIGH>;
		gpio1-gpios = <&gpioe 1 GPIO_ACTIVE_LOW>;
	};
};

&usart3 {
	pinctrl-0 = <&usart3_tx_pc10 &usart3_rx_pc11>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

// &flash0 {
// 	partitions {
// 		compatible = "fixed-partitions";
// 		#address-cells = <1>;
// 		#size-cells = <1>;

// 		/*
// 		 * The two sectors 0-1 (32+32 kbytes) are reserved for
// 		 * the bootloader.
// 		 */
// 		boot_partition: partition@0 {
// 			label = "mcuboot";
// 			reg = <0x0 0x00010000>;
// 			read-only;
// 		};

// 		/*
// 		 * The flash starting at offset 0x10000 and ending at
// 		 * offset 0x1ffff is reserved for use by the application.
// 		 * This represents sectors 2-3 (32+32 kbytes)
// 		 */
// 		storage_partition: partition@10000 {
// 			label = "storage";
// 			reg = <0x00010000 0x00010000>;
// 		};

// 		/*
// 		 * Sector 4 (128 kbytes) unallocated.
// 		 */

// 		/*
// 		 * Allocated 3 (256k x 3) sectors for image-0. Sectors 5-7.
// 		 */
// 		slot0_partition: partition@40000 {
// 			label = "image-0";
// 			reg = <0x00040000 0x000C0000>;
// 		};

// 		/*
// 		 * Allocated 3 (256k x 3) sectors for image-1. Sectors 8-10.
// 		 */
// 		slot1_partition: partition@100000 {
// 			label = "image-1";
// 			reg = <0x00100000 0x000C0000>;
// 		};

// 		/*
// 		 * Allocated 1 (256k) sector for image-scratch. Sector 11.
// 		 */
// 		scratch_partition: partition@1C0000 {
// 			label = "image-scratch";
// 			reg = <0x001C0000 0x00040000>;
// 		};
// 	};
// };

// &flash0 {
// 	partitions {
// 		compatible = "fixed-partitions";
// 		#address-cells = <1>;
// 		#size-cells = <1>;

// 		/*
// 		 * The two sectors 0-1 (32+32 kbytes) are reserved for
// 		 * the bootloader.
// 		 */
// 		boot_partition: partition@8000000 {
// 			label = "mcuboot";
// 			reg = <0x08000000 DT_SIZE_K(32*2)>;
// 			read-only;
// 		};

// 		/*
// 		 * The flash starting at offset 0x10000 and ending at
// 		 * offset 0x1ffff is reserved for use by the application.
// 		 * This represents sectors 2-3 (32+32 kbytes)
// 		 */
// 		storage_partition: partition@8010000 {
// 			label = "storage";
// 			reg = <0x08010000 DT_SIZE_K(32*2)>;
// 		};

// 		/*
// 		 * Sector 4 (128 kbytes) unallocated.
// 		 */

// 		/*
// 		 * Allocated 3 (256k x 3) sectors for image-0. Sectors 5-7.
// 		 */
// 		slot0_partition: partition@8030000 {
// 			label = "image-0";
// 			reg = <0x08030000 DT_SIZE_K(256*3)>;
// 		};

// 		/*
// 		 * Allocated 3 (256k x 3) sectors for image-1. Sectors 8-10.
// 		 */
// 		slot1_partition: partition@80F0000 {
// 			label = "image-1";
// 			reg = <0x080F0000 DT_SIZE_K(256*3)>;
// 		};

// 		/*
// 		 * Allocated 1 (256k) sector for image-scratch. Sector 11.
// 		 */
// 		scratch_partition: partition@81B0000 {
// 			label = "image-scratch";
// 			reg = <0x081B0000 DT_SIZE_K(256)>;
// 		};
// 	};
// };

&backup_sram {
	status = "okay";
};
